
.workout-name {
	display: inline-block;
}

.workout-name input{
	width: 400px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height:35px;
}

.create-btn {
	width: 80px;
	height: 32px;
	margin-left: 20px;
	margin-top:0px;
	margin-bottom: auto;
	display: inline-block;
}

.search input {
    width: 500px;
    text-indent: 24px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search .fa-search {
    position: absolute;
    font-size: 20px;
    top: 16px;
    left: 24px;
}

.box {
    border: 1px solid #d3d3d3;
    width: 500px;
    height: 450px;
    border-radius: 10px;
    margin-top: 10px;
}

.left-arrow, .right-arrow {
    display: inline-block;
    position: absolute;
    font-size: 32px;
    margin-top: 20px;
}

.left-arrow {
    left: 45%;
    margin-bottom: 20px;
}

.right-arrow {
    left: 48%;
}

.arrow-link {
    text-decoration: none;
    color: inherit;
}

.box ul {
	padding: 0px;
}

.workout-list {
    width: inherit;
    height: inherit;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box li {
    list-style: none;
    text-indent: 10px;
	border-radius: 10px;
	width: auto;
    height: 40px;
    line-height: 40px;
}

.create-btn {
	background-color: #F7B733;
}

