.panel {
	background-color: #C4C4C4;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: #F7B733;
}

.panel-text {
	display: inline-block;
	font-size: 18px;
}

.button-animation:hover {
	background-color: #ABABAB;
}

.datalist-title {
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.update-btn {
	background-color: #F7B733;
	margin-left: 10px;
}

form datalist{
	font-size: 16px;
}

canvas {
	margin-left: 7%;;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

.share-row {
	margin-top: 50px;
	margin-bottom: 20px;
}

a {
	color: inherit;
}

.first-row {
	margin-top:20px;
}

h4 {
	display: inline;
}

.share-btn {
	margin-left: 10px;
	background-color: #FC4A1A;
	color: #fff;
}

.no-graph-text {
	margin-left: 32%;;
	margin-bottom: 60px;
}