.box {
    border: 1px solid #d3d3d3;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-top: 10px;
}

.search {
	margin-top: 10px;
	margin-bottom: 10px;
}

.search  input{
	width: 500px;
    border-radius: 10px;
    text-indent: 24px;
}

.search .fa-search {
    position: absolute;
    font-size: 20px;
    top: 16px;
    left: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    vertical-align: middle;
    height:40px;
    line-height: 40px;
    text-indent: 10px;
    border-radius: 10px;
}

ul {
	padding: 0px;
}

.workout-list {
    width: inherit;
    height: inherit;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.active {
    background-color: #23527c;
    color: white;
}

.start-btn {
    display: inline-block;
    position: absolute;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 46%;
}