<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

 	<servlet>
		<servlet-name>UpdateCurrentExerciseIndexServlet</servlet-name>
		<servlet-class>Servlets.UpdateCurrentExerciseIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCurrentExerciseIndexServlet</servlet-name>
		<url-pattern>/updatecurrentexerciseindexservlet</url-pattern>
	</servlet-mapping>
 
 	<servlet>
		<servlet-name>UpdateSetServlet</servlet-name>
		<servlet-class>Servlets.UpdateSetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateSetServlet</servlet-name>
		<url-pattern>/updatesetservlet</url-pattern>
	</servlet-mapping>
  
    <servlet>
		<servlet-name>WorkoutServlet</servlet-name>
		<servlet-class>Servlets.WorkoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkoutServlet</servlet-name>
		<url-pattern>/workoutservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WorkoutResetServlet</servlet-name>
		<servlet-class>Servlets.WorkoutResetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkoutResetServlet</servlet-name>
		<url-pattern>/workoutresetservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>Servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logoutservlet</url-pattern>
	</servlet-mapping>
 
   	<servlet>
		<servlet-name>WorkoutListServlet</servlet-name>
		<servlet-class>Servlets.WorkoutListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkoutListServlet</servlet-name>
		<url-pattern>/workoutlistservlet</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>Servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/homeservlet</url-pattern>
	</servlet-mapping>  
  
  	<servlet>
		<servlet-name>BuildWorkoutServlet</servlet-name>
		<servlet-class>Servlets.BuildWorkoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuildWorkoutServlet</servlet-name>
		<url-pattern>/buildworkoutservlet</url-pattern>
	</servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>homeservlet</welcome-file>
  </welcome-file-list>
</web-app>